<ng-container *ngIf="!loader; else loading">
  <form [formGroup]="formData">
    <mat-stepper #stepper linear>
      <mat-step [stepControl]="$any(formData.get('companyInfo'))">
        <form formGroupName="companyInfo" class="form-group">
          <ng-template matStepLabel>Step 1: Enter Company Information</ng-template>
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Enter Company Name" formControlName="companyName" required />
          </mat-form-field>

          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Country/Region</mat-label>
            <mat-select placeholder="Select Country/Region" formControlName="region"
              (selectionChange)="setState($event)" required>
              <mat-option *ngFor="let country of countries" [value]="country.name">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <section formGroupName="address">
            <mat-form-field floatLabel="always" appearance="outline">
              <mat-label>Address Line 1</mat-label>
              <input matInput placeholder="Enter Address Line 1" formControlName="addressLine1" required />
            </mat-form-field>
            <br />
            <mat-form-field floatLabel="always" appearance="outline">
              <mat-label>Address Line 2</mat-label>
              <input matInput placeholder="Enter Address Line 2" formControlName="addressLine2" required />
            </mat-form-field>
            <br />
            <mat-form-field floatLabel="always" appearance="outline">
              <mat-label>Postal Code</mat-label>
              <input matInput placeholder="Enter Postal Code" formControlName="postalCode" required />
            </mat-form-field>
            <br />
            <section class="state-city">
              <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>City</mat-label>
                <input matInput placeholder="Enter City" formControlName="city" required />
              </mat-form-field>
              <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>State</mat-label>
                <mat-select placeholder="Select State" formControlName="state" required>
                  <mat-option *ngFor="let state of states" [value]="state.name">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </section>
          </section>

          <div class="flex space-between">
            <button mat-raised-button routerLink="/" color="warn">Cancel</button>
            <button mat-raised-button matStepperNext color="accent" [disabled]="">
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="$any(formData.get('userAccountInfo'))"
        label="Step 2: Enter User User Accont Information">
        <form formGroupName="userAccountInfo" class="form-group">
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter First Name" formControlName="fname" required />
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter Last Name" formControlName="lname" required />
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter Email" formControlName="email" required />
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter Username" formControlName="uname" required />
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Order Email</mat-label>
            <input matInput placeholder="Enter Order Email" formControlName="orderEmail" required />
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 3: Enter your Business Information</ng-template>
        <form formGroupName="businessInformation" class="form-group">
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Product & Service Categories</mat-label>
            <input matInput placeholder="Enter Product & Service Categories" formControlName="serviceCategories"
              required /> </mat-form-field><mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Ship-to or Service Locations</mat-label>
            <input matInput placeholder="Enter Ship-to or Service Locations" formControlName="serviceLocations"
              required />
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Tax ID</mat-label>
            <input matInput placeholder="Enter Tax ID" formControlName="taxID" requiredˀ />
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Vat ID</mat-label>
            <input matInput placeholder="Enter Vat ID" formControlName="vatID" required />
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>DUNS Number</mat-label>
            <input matInput placeholder="Enter Order Email" formControlName="dunsNumber" required />
          </mat-form-field>
        </form>

        <div>
          <button mat-button matStepperPrevious>Previous</button>
          <button mat-raised-button color="primary" matStepperPrevious>
            Submit
          </button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</ng-container>
<ng-template #loading>loading....</ng-template>