<mat-toolbar color="accent">
  <span>Test Application</span>
  <div class="button-spacing">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="'home'"
      matTooltip="Navigates to Home Page"
      matTooltipShowDelay="500"
    >
      Home
    </button>
    <button
      mat-raised-button
      [routerLink]="'forms'"
      matTooltip="Navigates to Forms Page"
      matTooltipShowDelay="500"
      >
      Forms
    </button>
    <button
    mat-raised-button
    [routerLink]="'auth'"
      color="warn"
      matTooltip="Navigates to Login Page"
      matTooltipShowDelay="500"
    >
      Login
    </button>
  </div>
</mat-toolbar>

<mat-progress-bar *ngIf="loadingRouteConfig" mode="indeterminate"></mat-progress-bar>
<router-outlet></router-outlet>
